<div class="sidebar">
  <div class="side_filter border-right">
    <div class="side_filter_item">

        <h6 class="side_filter_item_header">Service Type</h6>
        <ul>
          <li>
            <input type="radio"  name="servicetype" id="no-interest" checked="checked"onclick="window.location='#!/computed';"/>
            <label for="no-interest">Non Interest Income</label>
          </li>
          <li><input type="radio"  name="servicetype" id="interest""/>
            <label for="interest">Interest Income</label></li>
          <li><input type="radio"  name="servicetype" id="expenses";"/>
            <label for="expenses">Interest Expenses</label>
          </li>
        </ul>
      </div>
      <div class="side_filter_item">
          <h6 class="side_filter_item_header">Year</h6>
          <ul>
            <li><input type="checkbox" class="filled-in" id="2017" ng-click="setYear(2017)" /><label for="2017">2017</label></li>
            <li><input type="checkbox" class="filled-in" id="2016" ng-click="setYear(2016)" /><label for="2016">2016</label></li>
            <li><input type="checkbox" class="filled-in" id="2015" ng-click="setYear(2015)" checked="checked" /><label for="2015">2015</label></li>
            <li><input type="checkbox" class="filled-in" id="2014" ng-click="setYear(2014)"  /><label for="2014">2014</label></li>
          </ul>
        </div>
        <div class="side_filter_item">
            <h6 class="side_filter_item_header">Branch</h6>
            <ul>
              <li ng-repeat="income in incomes"><input type="checkbox" class="filled-in" value="2" id="selecttwo" /><label for="selecttwo">{{income.AccountName}}</label></li>
            </ul>
            <ul class="sideFilterBranch">
              <li>
                <input id="branch_0" type="radio" value="" ng-click="setBranchIdDefault(0)" class="filled-in" name="branchlist" checked="checked"/
                >
                <label for="branch_0">All Branches</label>
              </li>
              <li ng-repeat="branch in branches">
                <input type="radio" value="" ng-click="setBranchId(this)" class="filled-in" ng-attr-id="{{branch.acbranchid}}" name="branchlist" /
                >
                <label for="{{branch.acbranchid}}">{{branch.branchname}}</label>
              </li>
            </ul>
          </div>
          <div class="side_filter_item">
              <h6 class="side_filter_item_header">View Type</h6>
              <ul>
                <li>
                  <input type="radio" class="filled-in" name="viewtype" id="Charts" onclick="window.location='#!/computed';"/>
                  <label for="Charts">Charts Computed Amount</label>
                </li>
                <li>
                  <input type="radio" class="filled-in" name="viewtype" id="Variance" checked="checked"  onclick="window.location='#!/variance';"/>
                  <label for="Variance">Charts Variance</label>
                </li>
                <li>
                  <input type="radio" class="filled-in" name="viewtype" id="Maps"  onclick="window.location='#!/maps';"/>
                  <label for="Maps">Maps</label>
                </li>
                <li>
                  <input type="radio" class="filled-in" name="viewtype" id="Tables"  onclick="window.location='#!/accounts';"/
                  ><label for="Tables">Tables</label>
                </li>
              </ul>
            </div>
  </div>

</div>

<div class="inner">
  <div class="col s12">
        <div class="row">
          <div class="col s3">
            <h5>{{income.AccountName}}</h5>
          </div>
          <div class="col s9">
            <div>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(1)" value=1>Jan</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(2)" value=2>Feb</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(3)" value=2>Mar</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(4)" value=2>Apr</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(5)" value=2>May</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(6)" value=2>Jun</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(7)" value=2>Jul</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(8)" value=2>Aug</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(9)" value=2>Sep</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(10)" value=2>Oct</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(11)" value=2>Nov</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(12)" value=2>Dec</a>
              <a href=""class="waves-effect waves-light blue-custom btn" ng-click="setMonth(0)" value=2>All</a>
            </div>
          </div>
    </div>
    <div class="divider"></div>
  </div>


  <div class="col s12">
  <div class="graphstatic">
    <div class="row">
        <br>
          <!-- view by map -->
          <div class="col s12 m8" >
            <div  ng-show="contentShow == 'first'">
              <div class="chart_body">
                <div class="card-content" style="padding:0;">
                  <div class="chart_header">
                    <h6 class="side_filter_item_header">View Account Exceptions By Branch </h6>
                  </div>
                  <div class="">
                          <table class="table_{{income.account}} bordered" si-table>
                            <thead>
                              <tr>
                                  <th>Account</th>
                                  <th>System Amount</th>
                                  <th>Computed Amount</th>
                                  <th>Variance</th>
                              </tr>
                            </thead>
                    
                            <tbody si-sortable ng-repeat="table in tables">
                              <tr >
                                <td>{{table.AccountName}}</td>
                                <td>${{ table.computedamount }}</td>
                                <td>${{ table.systemamount }}</td>
                                <td>${{ table.variance }}</td>
                              </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <si-table-pagination limit="8" />
                                    </td>
                                </tr>
                            </tfoot>

                          </table>
                    </div>
                  </div>
              </div>
            </div>
            <div ng-show="contentShow == 'second'">
                <div class="chart_body">
                    <div class="card-content" style="padding:0;">
                    
                    <div class="chart_header">
                      <h6 class="side_filter_item_header">View Branch Exceptions By Accounts</h6>
                    </div>
                    <div class="">
                        <table class="table_{{income.account}} bordered" si-table>
                            <thead>
                              <tr>
                                    <th>Branch</th>
                                  <th>System Amount</th>
                                  <th>Computed Amount</th>
                                  <th>Variance</th>
                              </tr>
                            </thead>
                    
                            <tbody si-sortable ng-repeat="table in tables">
                              <tr >
                                <td>{{table.branchname}}</td>
                                <td>${{ table.computedamount }}</td>
                                <td>${{ table.systemamount }}</td>
                                <td>${{ table.variance }}</td>
                              </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <si-table-pagination limit="8" />
                                    </td>
                                </tr>
                            </tfoot>

                          </table>
                        
                    </div>
                    </div>
                </div>
            </div>            
          </div>
          <!-- view by account -->
          <div class="col s12 m4">
            <div class="side_filter chart_body">
              <div class="side_filter_item">
                <div class="chart_header">
                  <h6 class="side_filter_item_header">Tolerance Settings</h6>
                </div>
                
                <mat-form-field class="example-margin">
                  <input matInput type="number" placeholder="100">
                </mat-form-field>
                <div class="slider">
                <input value=20 type = "range" min="0" max="100" oninput="rangevalue.value=value"/>
              	<output id="rangevalue">50</output>
                </div>
                <br>
                </div>
                <div class="side_filter_item">
                    <h6 class="side_filter_item_header">View Options</h6>
                    <ul >
                        <li>
                            <input type="radio" name="content" class="filled-in" id="second" ng-checked="true" ng-model="contentShow" value="second"/>
                            <label for="second">By Branch</label>
                        </li>
                        <li>
                            <input type="radio" name="content" class="filled-in" id="first"  ng-model="contentShow" value="first"/>
                            <label for="first">By Account</label>
                        </li>
                      </ul>
                </div>
            </div>
          </div>
          <div class="divider"></div>
    </div>
  </div>
  </div>
</div>
